html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-size: 16px;
}

body {
    font-family:'Roboto Mono', monospace;
    text-align:center;
    margin:0;
}

nav {
    display:inline-block;
    width:80%;
    position:relative;
    margin-top:25px;
    margin-bottom:25px;
}
nav a {
    display:inline-block;
    background:#5ED3EB;
    color:white;
    border-radius:30px;
    text-decoration:none;
    padding:1% 3%;
    margin-left:5%;
    margin-right:5%;
    width:120px;
    height:40px;
}

nav a.plan {
    background:#ff764e;
}

nav a.get {
    background:#ffcd69;
}

h1 {
    font-family:"Chelsea Market", cursive;
    font-size:2rem;
    margin:2%;
}

p {
    line-height:1.5rem;
}

footer {
    background:#f9e7dc;
}

.container {
    display:inline-block;
    position:relative;
}
.park-intro {
    margin-bottom:3%;
    width:65%;
    display:inline-block;
    position:absolute;
    top:12%;
    right:3%;
}

.main-text {
    background:#ddb9a3;
    color:white;
    margin:3%;
    padding:1% 2%;
    font-size:.8rem;
}

.intro-img {
    display:inline-block;
    border-radius:100%;
    height:65%;
    width:65%;
}

.img-container {
    margin-right:60%;
}

.fire-info {
    display:inline-block;
    position:relative;
    width:25%;
    font-size:.7rem;
}

.fire-img {
    width:60%;
    margin:1%;
}

.camping-info {
    position:relative;
    width:25%;
    font-size:.8rem;
    left:37.5%;
    font-size:.7rem;
    margin-bottom:2%;
}

.camper-img {
    width:50%;
}

.footer-img {
    height:400px;
    width:100%;
    max-width:none;
}

footer {
    width:100%;
    position:relative;
}